body,
.form-control,
.col-form-label,
#gender-set > legend {
  font-size: 14px;
}

#form-card {
  max-width: 500px;
}

.required-mark {
  color: red;
}

.bg-syncs {
  /* background-color: #1e2f8f; */
  height: 64px;
  background: white;
  z-index: 100;
  padding: 0px;
}

.logo {
  padding: 11px 0;
  vertical-align: middle;
  float: left;
  height: 64px;
}

#gender-set {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#submit:not([disabled]) > #submit-spinner {
  display: none;
}
